.container {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
}

.content {
	width: 100%;
}
.title h2 {
	font-size: clamp(2rem, 3.5vw, 3rem);
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.description {
	font-weight: 300;
	font-size: 1.1rem;
}

.form {
	position: relative;
	z-index: 10;
	width: 100%;
}

.form__input input {
	background: none;
	outline: none;
	transition: 150ms all linear;
	border: 1px solid var(--secondary-color);
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
}

.form input,
.form textarea {
	color: white;
}
.form input::placeholder,
.form textarea::placeholder {
	color: var(--secondary-color);
}
.form input:focus {
	transition: 150ms all linear;
	border: 1px solid white;
}

.form__input {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.form textarea {
	background: none;
	outline: none;
	border: 1px solid var(--secondary-color);
	margin-top: 5px;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	resize: none;
	transition: 150ms all linear;
}

.form textarea:focus {
	transition: 150ms all linear;
	border: 1px solid white;
}
.buttons button {
	max-width: inherit;
	width: 100%;
}
.modal button {
	color: black !important;
}
.modal button span {
	color: white;
	transition: 0ms all linear 50ms;
}
.modal button::before {
	width: 66%;
}
.modal button:hover:before {
	width: 120%;
}
.modal button:hover span {
	color: black;
	transition: 0ms all linear 50ms;
}

.modal {
	position: fixed;
	z-index: 6000;
	background-color: black;
	padding: 0px 20px 20px 20px;
	border-radius: 2px;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* MEDIA QUERIES  */

@media (max-width: 1590px) {
	/* .title h2 {
		font-size: 2.5rem;
	} */
}

@media (max-width: 1120px) {
	.container {
		flex-wrap: wrap;
	}
}
