.container {
	display: flex;
	width: 100%;
	height: 100svh;
	position: absolute;
	top: 0;
	z-index: 100;
	overflow: hidden;
	background-color: red;

	border-bottom: 8px solid white;
}

.background img {
	position: relative;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

.background:first-child {
	transform-origin: center center 0;
	background-position: center;
	width: 100%;
}

.background:last-child {
	border-left: 8px solid white;
	position: relative;
	z-index: 2;
	transform-origin: center center 0;
	background-position: center;
	width: 20%;
	animation: slidesIn 450ms forwards;
}

/* hero backgrounds animations  */
.swap:first-child {
	animation: closeAnim 450ms forwards;
}

@keyframes closeAnim {
	from {
		width: 100%;
	}

	to {
		width: 0;
	}
}

.swap:last-child {
	animation: openAnim 450ms forwards !important;
}

@keyframes openAnim {
	from {
		width: 20%;
	}

	to {
		width: 100%;
	}
}

@keyframes slidesIn {
	from {
		width: 0;
	}
	to {
		width: 20%;
	}
}

.content {
	user-select: none;
	margin-left: 40px;
	display: flex;
	align-items: center;
	height: 90svh;
	font-size: 2.5rem;
	text-transform: uppercase;
	padding: 0 40px 0 40px;
	min-width: max-content;
}

.title {
	position: relative;
	max-width: 640px;
}
.title h1 {
	margin: 0;
}
.buttons {
	position: relative;
	top: 40px;
	left: 40px;
}
.buttons button {
	max-width: max-content;
	background-color: #282828;
	padding: 15px;
	font-size: 1.5rem;
	color: white;
	font-weight: bold;
	border: none;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	box-shadow: 8px -8px 0 var(--primary-color);
	transition: 20ms all linear;
}

.buttons button:hover {
	transition: 50ms all linear;
	scale: 1.05;
	cursor: pointer;
}

.buttons button:active {
	translate: 2px -2px;
	transition: 20ms all linear;
	box-shadow: 4px -4px 0 var(--primary-color);
}

.content strong {
	position: relative;
	display: block;
}

.content strong:nth-child(1) {
	letter-spacing: 0.4rem;
	translate: 5px;
	margin-bottom: -98px;
	color: var(--primary-color);
	clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 52%);
}

.content strong::before,
.content strong::after {
	position: absolute;
	content: "Full-Stack";
	top: 0;
	left: 0;
	padding: 6px 0;
	width: 100%;
}

.content strong::before {
	left: -3px;
	top: -3px;
	text-shadow: 3px 0 var(--primary-color);
	/* -webkit-text-stroke-width: 1px; */
	/* color: transparent; */
	/* -webkit-text-stroke-color: ${variables.vermillionColor}; */
	animation: glitchEffect 1s infinite linear alternate-reverse;
}

.content strong::after {
	left: 4px;
	top: -4px;
	text-shadow: -2px 0 white;
	/* -webkit-text-stroke-width: 1px; */
	/* color: transparent; */
	/* -webkit-text-stroke-color: ${variables.vermillionColor}; */
	animation: glitchEffect 1s infinite linear alternate-reverse;
}

.content strong:nth-child(2) {
	translate: -1px;
	letter-spacing: 0.4rem;
	color: white;
	clip-path: polygon(0% 52%, 100% 30%, 100% 100%, 0% 100%);
}

.social {
	position: relative;
	z-index: 200;
	top: -80px;
	left: 80px;
	gap: 20px;
	display: flex;
	filter: invert(1);
}

.index {
	position: absolute;
	z-index: 200;
	bottom: 40px;
	left: 80px;
	display: flex;
	gap: 20px;
}

.index div {
	width: 220px;
	height: 4px;
	background-color: white;
	border-radius: 14px;
	transition: all 250ms linear;
}

.index .color {
	background-color: var(--primary-color);
	transition: all 250ms linear;
}

/* keyframe  */

@keyframes glitchEffect {
	0% {
		clip-path: polygon(0% 0%, 100% 0%, 100% -0.5%, 0% -0.5%);
	}
	5.88235% {
		clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
	}
	11.76471% {
		clip-path: polygon(0% 0%, 100% 0%, 100% -0.5%, 0% -0.5%);
	}
	17.64706% {
		clip-path: polygon(0% 0%, 100% 0%, 100% -0.5%, 0% -0.5%);
	}
	23.52941% {
		clip-path: polygon(0% 16.666%, 100% 16.666%, 100% 0%, 0% 0%, 0% 100%);
	}
	29.41176% {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
	}
	35.29412% {
		clip-path: polygon(0% 16.666%, 100% 16.666%, 100% 0%, 0% 0%, 0% 100%);
	}
	41.17647% {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
	}
	47.05882% {
		clip-path: polygon(0% 16.666%, 100% 16.666%, 100% 0%, 0% 0%, 0% 100%);
	}
	52.94118% {
		clip-path: polygon(0% 0%, 100% 0%, 100% -0.5%, 0% -0.5%);
	}
	58.82353% {
		clip-path: polygon(0% 16.666%, 66.666% 16.666%, 66.666% 0%, 0% 0%, 0% 100%);
	}
	64.70588% {
		clip-path: polygon(0% 0%, 66.666% 0%, 66.666% 0%, 0% 0%, 0% 100%);
	}
	70.58824% {
		clip-path: polygon(0% 16.666%, 66.666% 16.666%, 66.666% 0%, 0% 0%, 0% 100%);
	}
	76.47059% {
		clip-path: polygon(0% 0%, 66.666% 0%, 66.666% 0%, 0% 0%, 0% 100%);
	}
	82.35294% {
		clip-path: polygon(0% 0%, 66.666% 0%, 66.666% 0%, 0% 0%, 0% 100%);
	}
	88.23529% {
		clip-path: polygon(0% 0%, 66.666% 0%, 66.666% 0%, 0% 0%, 0% 100%);
	}
	94.11765% {
		clip-path: polygon(0% 0%, 66.666% 0%, 66.666% 0%, 0% 0%, 0% 100%);
	}
	100% {
		clip-path: polygon(0% 0%, 66.666% 0%, 66.666% 0%, 0% 0%, 0% 100%);
	}
}

/* MEDIA QUERIES  */

@media (max-width: 1320px) {
	.index div {
		width: 160px;
	}
}

@media (max-width: 1024px) {
	.content {
		padding: 0;
		justify-content: center;
		min-width: none;
		margin-left: inherit;
	}
	.title {
		width: 100%;
		max-width: inherit;
		text-align: center;
	}

	.index {
		display: none;
	}
	.background:last-child {
		display: none;
	}
	.social {
		justify-content: center;
		gap: 120px;
		left: 0;
		top: 0;
	}
}

@media (max-width: 680px) {
	.title {
		font-size: 2rem;
	}
	.content strong:nth-child(1) {
		margin-bottom: -78px;
	}
}

@media (max-width: 540px) {
	.title {
		font-size: 1.5rem;
	}

	.content strong:nth-child(1) {
		margin-bottom: -59px;
	}
}

@media (max-width: 400px) {
	.title {
		font-size: 1.3rem;
	}
	.content strong:nth-child(1) {
		margin-bottom: -50px;
	}
	.social {
		justify-content: center;
		gap: 80px;
		left: 0;
		top: 0;
	}
}
