.card {
	display: flex;
	justify-content: center;
	gap: 120px;
	text-align: right;
}

.card:nth-child(even) {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	text-align: left;
}
.card__left {
	height: 100%;
	width: 100%;
}

.card__header {
	display: flex;
	justify-content: flex-end;
	font-size: 2rem;
	text-transform: uppercase;
}

.card:nth-child(even) .card__header {
	justify-content: flex-start;
}

.card__header h2 {
	margin: 0;
	max-width: 500px;
}

.card__header span {
	position: relative;
	display: inline-block;
}
.card__header span::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	background-color: var(--primary-color);
	width: 0;
	height: 2px;
	transition: all 0.5s linear;
}

/* CARD CONTENT  */
.card__content {
	display: flex;
	flex-direction: column;

	align-items: flex-end;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--secondary-color);
}

.card:nth-child(even) .card__content {
	align-items: flex-start;
}
.card__content p::first-letter {
	color: var(--primary-color);
	letter-spacing: 0.1rem;
	font-weight: bold;
}

.card__content p {
	max-width: 560px;
	font-weight: 300;
}

.card__content span {
	font-weight: 500;
	letter-spacing: 0.05rem;
}

.card__skills {
	margin-bottom: 30px;
	filter: invert(1);
}

.card:nth-child(even) .card__skills {
	text-align: left;
}

.card__skills img {
	padding: 10px;
}

.buttons {
	margin-bottom: 20px;
}

.buttons button:nth-child(1) {
	margin-right: 20px;
}

.card__right {
	position: relative;
	max-width: 640px;
	width: 100%;
}

/* .card__right::before {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	width: 45px;
	height: 45px;
	border-right: 8px solid white;
	border-bottom: 8px solid white;
}

.card:nth-child(even) .card__right::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	right: inherit;
	width: 45px;
	height: 45px;
	border-left: 8px solid white;
	border-right: inherit;
	border-bottom: 8px solid white;
} */

.card__images {
	display: flex;
	text-align: center;
	flex-direction: column;
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100%;
}

.card__images .foreground {
	width: 100%;
	height: 100%;
}

.card__images .foreground img {
	translate: 5px 10px;
	transition: all 1s linear;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.card__images .backgrounds {
	width: 100%;
	height: 100%;
	position: relative;
	top: -65px;
	display: flex;
}

.background__left {
	position: relative;
	z-index: 2;
	translate: 35px 0px;
	transition: all 1s linear;
	max-width: 100%;
	max-height: 100%;
	width: 220px;
	height: 220px;
	object-fit: cover;
}

.background__right {
	translate: 50px 0px;
	transition: all 1s linear;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	width: 380px;
	height: 220px;
	object-fit: cover;
}

/* NO IMAGE  */
.card__right:has(.card__no__image) {
	border: 1px solid white;
	margin-bottom: 80px;
}
.card__no__image {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 400px;
	font-weight: bold;
	text-transform: uppercase;
}

.isInView .card__header span::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	background-color: var(--primary-color);
	width: 85%;
	height: 2px;
	transition: all 0.5s linear;
}
@keyframes underline {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}
.isInView .foreground img {
	translate: 5px -40px;
	transition: all 1s linear;
}

.isInView .background__left {
	translate: 35px -20px;
	transition: all 1s linear;
}
.isInView .background__right {
	translate: 55px 30px;
	transition: all 1s linear;
}

/* MEDIA QUERIES  */

@media (max-width: 1460px) {
	.card__header {
		font-size: 1.5rem;
	}
	.card__header h2 {
		max-width: 380px;
	}
}

@media (max-width: 1390px) {
	.buttons {
		justify-content: flex-end;
		display: flex;
	}

	.card:nth-child(even) .buttons {
		justify-content: flex-start;
		display: flex;
	}
}

@media (max-width: 1300px) {
	.card__content,
	.card:nth-child(even) .card__content {
		display: flex;
		text-align: center;
		align-items: center;
	}
	.card,
	.card:nth-child(even) {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		gap: 0px;
		text-align: center;
	}

	.card:nth-child(even) .card__skills {
		text-align: center;
	}
	.card__header,
	.card:nth-child(even) .card__header {
		justify-content: center;
	}
	/* .card:nth-child(even) .card__images .backgrounds {
		flex-direction: row-reverse;
	} */
	.buttons,
	.card:nth-child(even) .buttons {
		justify-content: center;
	}
}

@media (max-width: 780px) {
	.card,
	.card:nth-child(even) {
		gap: 20px;
	}

	.card__images .backgrounds {
		display: none;
	}
	.card__right:has(.card__no__image) {
		margin-bottom: 10px;
	}
	.card__no__image {
		min-height: 300px;
	}
	.card__images .foreground img {
		translate: inherit;
	}

	.isInView .foreground img {
		translate: inherit;
	}

	.isInView .background__left {
		translate: inherit;
	}
	.isInView .background__right {
		translate: inherit;
	}
}

@media (max-width: 480px) {
	.card__no__image {
		min-height: 200px;
	}
	.card__header {
		font-size: 1rem;
	}
	.buttons button {
		font-size: 1.5rem;
		min-width: 150px;
	}
}

@media (max-width: 380px) {
	.buttons button {
		font-size: 1.3rem;
		min-width: 120px;
	}
}
