:root {
	--primary-color: #e34234;
	--secondary-color: #515251;
}
html::-webkit-scrollbar {
	display: none;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #282828;
	color: white;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

body::before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	background: repeating-radial-gradient(#000 0 0.0001%, #8a8888 0 0.0002%) 50% 0/2500px
			2500px,
		repeating-conic-gradient(#000 0 0.0001%, #8a8888 0 0.0002%) 50% 50%/2500px
			2500px;

	background-blend-mode: difference;
	animation: noiseAnim 0.2s infinite alternate;
}
@keyframes noiseAnim {
	100% {
		background-position: 50% 0, 50% 0%;
	}
}

button:not(.hero-btn) {
	position: relative;
	z-index: 1;
	background: none;
	border: 4px solid white;
	outline: none;
	color: #282828;
	font-weight: bold;
	font-size: 1.5rem;
	overflow: hidden;
	cursor: pointer;
	max-width: 200px;
	min-width: 200px;
}
button:not(.hero-btn) span {
	color: white;
}

button:not(.hero-btn)::before {
	position: absolute;
	z-index: -1;
	content: "";
	top: 0;
	left: 0;
	width: 60%;
	top: -1px;
	height: 105%;
	left: -15px;
	background: white;
	transform: skew(15deg);
	transition: 150ms all linear;
}

button:hover::before {
	width: 120%;
	transition: 150ms all linear;
}

button:hover span {
	color: #282828;
	transition: 0ms all linear 50ms;
}

#top {
	height: 100vh;
}
h2 {
	text-transform: uppercase;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media (max-width: 1024px) {
	#top {
		display: none;
	}
}
