.nav {
	position: relative;
	z-index: 200;
	display: flex;
	padding: 0 40px 0 80px;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1280px) {
	header:has(.nav) {
		position: sticky;
		top: 0;
		z-index: 200;
	}
	.nav {
		background-color: #282828;
		height: 60px;
		border-bottom: 8px solid white;
	}
}

@media (min-width: 1280px) {
	.nav__burger__btn {
		display: none;
	}
}

/* logo */

.nav__logo h1 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 2.5rem;
}
.nav__logo :nth-child(1) {
	position: relative;
	top: 24px;
	clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 50%);
}
.nav__logo :nth-child(2) {
	color: var(--primary-color);
	position: relative;
	bottom: 24px;
	clip-path: polygon(0% 50%, 100% 40%, 100% 100%, 0% 100%);
}

/* burger menu  */

.nav__burger__btn {
	position: relative;
	z-index: 6000;
	cursor: pointer;
}

.nav__burger__btn > div {
	background-color: white;
	margin-top: 5px;
	width: 25px;
	height: 2px;
}

.nav__burger__btn > :nth-child(1) {
	background-color: transparent;
	background-image: linear-gradient(
		to left,
		white 60%,
		transparent 60%,
		transparent 75%,
		white 0%
	);
}

.nav__burger__btn > :nth-child(3) {
	background-color: transparent;
	background-image: linear-gradient(
		to left,
		white 25%,
		transparent 25%,
		transparent 45%,
		white 0%
	);
}

.nav__burger {
	left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__burger ul {
	list-style-type: none;
	font-size: 4rem;
	font-weight: bold;
}

.nav__burger li:nth-child(odd) {
	text-align: right;
}
